{% load static %}
<nav
  class="navbar d-flex flex-row justify-content-center align-items-center bg-body-tertiary fs-5 p-3"
>
  <a class="navbar-brand" href="{% url 'clientes:clientes' %}"
    ><img src="{% static 'img/logo_radcom.png' %}" alt="logo-radcom" width="80"
  /></a>
  <ul class="navbar-nav flex-row gap-3 text-secondary">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clientes:clientes' %}">Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contratos:contratos' %}">Contratos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'atendimentos:atendimentos' %}"
        >Atendimentos</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'anotacoes:anotacoes' %}">Anotações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'arquivos:arquivos' %}">Arquivos</a>
    </li>
  </ul>
</nav>
