{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light fs-5 p-4">
  <a class="navbar-brand" href="{% url 'clientes:clientes' %}">
    <img class="img-fluid" src="{% static 'img/logo_radcom.png' %}" alt="logo-radcom" width="100">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'clientes:clientes' %}">Clientes <img src="{% static 'img/file-person.svg' %}" alt="clientes"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-1" href="{% url 'contratos:contratos' %}">Contratos <img src="{% static 'img/file-earmark-text.svg' %}" alt="contratos"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-1" href="{% url 'atendimentos:atendimentos' %}">Atendimentos <img src="{% static 'img/wrench-adjustable.svg' %}" alt="atendimentos"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-1" href="{% url 'anotacoes:anotacoes' %}">Anotações <img src="{% static 'img/book.svg' %}" alt="anotações"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-1" href="{% url 'arquivos:arquivos' %}">Arquivos <img src="{% static 'img/file-earmark.svg' %}" alt="arquivos"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-1" href="#">Logout <img src="{% static 'img/box-arrow-right.svg' %}" alt="logout"></a>
      </li>
    </ul>
  </div>
</nav>