{% extends 'global/base.html' %}
{% block title %}Diogo Blanco | {{customer.name}}{% endblock title %} 
{% block content %}
  <h1 class="text-center text-dark mt-5 mb-5">{{customer.name}}</h1>
  <ul class="list-group">
    <li class="list-group-item"><b>Data de Criação:</b> {{customer.created_at}}</li>
    <li class="list-group-item"><b>Última Atualização:</b> {{customer.updated_at}}</li>
    <li class="list-group-item"><b>Endereço:</b> {{customer.address}}</li>
    <li class="list-group-item"><b>Contato:</b> {{customer.contact}}</li>
    <li class="list-group-item"><b>Email:</b> {{customer.email}}</li>
    <li class="list-group-item"><b>Equipamentos:</b> {{customer.equipment}}</li>
  </ul>
  {% endblock content %}