<!DOCTYPE html>
<html lang="pt-br">
  {% include 'partials/_head.html' %}
  <title>{% block title %}Base{% endblock title %}</title>
  <body class="container" style="background: #00284b;">
    <main class="bg-body-secondary p-3">
      {% include 'partials/_nav.html' %}
      <p class="text-secondary mt-3">Olá <b>{{user.first_name}}</b>!</p>
      {% block content %} 
      {% endblock content %}
      {% include 'partials/_scripts.html' %}
    </main>
    {% include 'partials/_footer.html' %}
  </body>
</html>
