{% extends 'global/base.html' %}
{% block title %}Diogo Blanco | {{file.title}}{% endblock title %} 
{% block content %}
  <h1 class="text-center text-dark mt-5 mb-5">{{file.title}}</h1>
  <ul class="list-group">
    <li class="list-group-item"><b>Data de Criação:</b> {{file.created_at}}</li>
    <li class="list-group-item"><b>Última Atualização:</b> {{file.updated_at}}</li>
    <li class="list-group-item"><b>Cliente:</b> {{file.customer}}</li>
    {% if file.backup_pabx %}
      <li class="list-group-item"><b>Backup PABX:</b> <a href="{{file.backup_pabx.url}}">{{file.backup_pabx}}</a></li>
    {% else %}
      <li class="list-group-item"><b>Backup PABX:</b></li>
    {% endif %}
    {% if file.backup_rb %}
      <li class="list-group-item"><b>Backup RB:</b> <a href="{{file.backup_rb.url}}">{{file.backup_rb}}</a></li>
    {% else %}
      <li class="list-group-item"><b>Backup RB:</b></li>
    {% endif %}
  </ul>
  {% endblock content %}