{% extends 'global/base.html' %} 
{% load static %} 
{% block title %}Diogo Blanco | Arquivos{% endblock title %} 
{% block content %}
<h1 class="text-center text-secondary mt-5 mb-5">Arquivos</h1>
<div class="btn-group mb-3 mt-3" role="group" aria-label="Basic example">
  <a href="{% url 'arquivos:add_arquivos' %}"
    ><button type="button" class="btn btn-primary">
      Adicionar Arquivo
    </button></a
  >
</div>
<table class="table table-responsive table-striped table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Descrição</th>
      <th scope="col">Backup PABX</th>
      <th scope="col">Backup RB</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <td>{{file.customer}}</td>
      <td>{{file.title}}</td>
      {% if file.backup_pabx %}
      <td><a href="{{file.backup_pabx.url}}">{{file.backup_pabx}}</a></td>
      {% else %}
      <td></td>
      {% endif %}
      {% if file.backup_rb %}
      <td>{{file.backup_rb}}</td>
      {% else %}
      <td></td>
      {% endif %}
      <td>
        <div class="d-flex justify-content-center align-items-center align-content-center gap-1">
        <a
          class="edit"
          href="#"
          ><button
          class="btn btn-outline-light"
          type="submit"
        ><img class="p-2" src="{% static 'img/pen.svg' %}" alt="edit"
        /></a>
        <form
          action="#"
          method="post"
          id="delete-form"
        >
          {% csrf_token %}
          <a href="#" class="delete"
            ><button
            class="btn btn-outline-light"  
            type="submit"
              onclick="return confirm('Tem certeza que deseja apagar estes arquivos?');"
            >
              <img
                class="p-2"
                src="{% static 'img/trash3.svg' %}"
                alt="delete"
              />
            </button>
          </a>
        </form>
      </td>
    </div>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}