{% extends 'global/base.html' %} 
{% load static %} 
{% block title %}Diogo Blanco | Anotações{% endblock title %} 
{% block content %}
<h1 class="text-center text-secondary mt-5 mb-5">Anotações</h1>
<div class="btn-group mb-3 mt-3" role="group" aria-label="Basic example">
  <a href="{% url 'anotacoes:add_anotacao' %}"
    ><button type="button" class="btn btn-primary">
      Adicionar Anotação
    </button></a
  >
</div>
<table class="table table-responsive table-striped table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Data</th>
      <th scope="col">Lembrete</th>
      <th scope="col">Imagem</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for annotation in annotations %}
    <tr>
      <th scope="row">{{annotation.id}}</th>
      <td>{{annotation.title}}</td>
      <td>{{annotation.created_at}}</td>
      <td>{{annotation.reminder}}</td>
      {% if annotation.image %}
      <td><img src="{{annotation.image.url}}" alt="image" width="160" height="80" /></td>
      {% else %}
      <td></td>
      {% endif %}
      <td>
        <div class="d-flex justify-content-center align-items-center align-content-center gap-1">
        <a
          class="edit"
          href="{% url 'anotacoes:edit_anotacao' annotation_id=annotation.id %}"
          ><button
          class="btn btn-outline-light"
          type="submit"
        ><img class="p-2" src="{% static 'img/pen.svg' %}" alt="edit"
        /></a>
        <form
          action="{% url 'anotacoes:apagar_anotacao' annotation_id=annotation.id  %}"
          method="post"
          id="delete-form"
        >
          {% csrf_token %}
          <a href="#" class="delete"
            ><button
            class="btn btn-outline-light"  
            type="submit"
              onclick="return confirm('Tem certeza que deseja apagar esta anotação?');"
            >
              <img
                class="p-2"
                src="{% static 'img/trash3.svg' %}"
                alt="delete"
              />
            </button>
          </a>
        </form>
      </td>
    </div>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
